
@{
    ViewBag.Title = "Compare";
}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<h2>Vergelijken</h2>

<div class="row">
    <div class="col-sm-4">
        <p id="details">Details: Lorem Ipsum</p>
        <p id="spelsoort">Spelsoort: Lorem Ipsum</p>
        <p id="aantal_spelers">Aantal spelers: Lorem Ipsum</p>
        <p id="leeftijd">Leeftijd: Lorem Ipsum</p>
        <p id="speeltijd">Speeltijd: Lorem Ipsum</p>
        <br>
        <p id="taal_spel">Taal spel: Nederlands</p>
        <p id="taal_handleiding">Taal handleiding: Nederlands</p>
        <br>
        <p id="afmeting">Afmeting: X, Y</p>
        <p id="jaar_uitgave">Jaar van uitgave: 2013</p>
    </div>
    <div class="col-sm-8">
        <!-- Add code to dynamically add cards -->
        <div class="row">
            <div class="col-sm-4">
                <div class="w3-card-4">
                    <img src="~/Content/Images/Monopoly.png" style="width:200px">
                    <div class="w3-container w3-center">
                        <h3 id="merk">Lorem Ipsum</h3>
                        <h4 id="spelnaam"><b>Ganzenbord</b></h4>
                        <p>Spelsoort</p>
                        <p>Aantal spelers</p>
                        <p>Leeftijd</p>
                        <p>Speeltijd</p>
                        <br>
                        <p>Taal spel</p>
                        <p>Taal handleiding</p>
                        <br>
                        <p>Afmeting</p>
                        <p>Jaar</p>
                        <br>
                        <button class="btn btn-primary">Details</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="w3-card-4">
                    <img src="~/Content/Images/Monopoly.png" style="width:200px;">
                    <div class="w3-container w3-center">
                        <h3 id="merk">Lorem Ipsum</h3>
                        <h4 id="spelnaam"><b>Ganzenbord</b></h4>
                        <p>Spelsoort</p>
                        <p>Aantal spelers</p>
                        <p>Leeftijd</p>
                        <p>Speeltijd</p>
                        <br>
                        <p>Taal spel</p>
                        <p>Taal handleiding</p>
                        <br>
                        <p>Afmeting</p>
                        <p>Jaar</p>
                        <br>
                        <button class="btn btn-primary">Details</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="w3-card-4">
                    <img src="~/Content/Images/Monopoly.png" style="width:200px">
                    <div class="w3-container w3-center">
                        <h3 id="merk">Lorem Ipsum</h3>
                        <h4 id="spelnaam"><b>Ganzenbord</b></h4>
                        <p>Spelsoort</p>
                        <p>Aantal spelers</p>
                        <p>Leeftijd</p>
                        <p>Speeltijd</p>
                        <br>
                        <p>Taal spel</p>
                        <p>Taal handleiding</p>
                        <br>
                        <p>Afmeting</p>
                        <p>Jaar</p>
                        <br>
                        <button class="btn btn-primary">Details</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>