@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <form class="form">
            <h4>Spelsoort</h4>
            <div class="input-group">
                <input type="checkbox" name="checkbox1" id="checkbox1">
                <label for="checkbox1">Strategie</label>
            </div>
            <div class="input-group">
                <input type="checkbox" name="checkbox2" id="checkbox2">
                <label for="checkbox2">Denkspel</label>
            </div>
            <div class="input-group">
                <input type="checkbox" name="checkbox3" id="checkbox3">
                <label for="checkbox3">Rollenspel</label>
            </div>
            <h4>Aantal spelers</h4>
            <div class="input-group">
                <input type="checkbox" name="checkbox4" id="checkbox4">
                <label for="checkbox4">1 Speler</label>
            </div>
            <div class="input-group">
                <input type="checkbox" name="checkbox5" id="checkbox5">
                <label for="checkbox5">2 Spelers</label>
            </div>
            <div class="input-group">
                <input type="checkbox" name="checkbox6" id="checkbox6">
                <label for="checkbox6">3 tot 4</label>
            </div>
            <h4>Leeftijd</h4>
            <div class="input-group">
                <input type="checkbox" name="checkbox7" id="checkbox7">
                <label for="checkbox7">9-12 Jaar</label>
            </div>
            <div class="input-group">
                <input type="checkbox" name="checkbox8" id="checkbox8">
                <label for="checkbox8">13+</label>
            </div>
            <div class="input-group">
                <input type="checkbox" name="checkbox9" id="checkbox9">
                <label for="checkbox9">18+</label>
            </div>
            <h4>Speeltijd</h4>
            <div class="input-group">
                <input type="checkbox" />
                <label>10 tot 15 Minuten</label>
            </div>
            <div class="input-group">
                <input type="checkbox" />
                <label>15 tot 30 Minuten</label>
            </div>
            <div class="input-group">
                <input type="checkbox" />
                <label>30 tot 60 Minuten</label>
            </div>
            <div class="input-group">
                <input type="checkbox" />
                <label>60< Minuten</label>
            </div>
        </form>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-3">
                <img src="~/Content/Images/Monopoly.png" class="img-responsive" style="width: 150px;" />
            </div>
            <div class="col-md-9">
                <h2>Merk, Naam</h2>
                <h4>Details: Leeftijd | Aantal spelers | Taal | Uitgever</h4>
                <p>Beschrijving</p>
                <a href="~/Game/Compare" class="btn btn-group btn-primary">Vergelijk</a>
                <a href="~/Detail/Game" class="btn btn-primary">Meer details</a>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-3">
                <img src="~/Content/Images/Monopoly.png" class="img-responsive" style="width: 150px;" />
            </div>
            <div class="col-md-9">
                <h2>Merk, Naam</h2>
                <h4>Details: Leeftijd | Aantal spelers | Taal | Uitgever</h4>
                <p>Beschrijving</p>
                <a href="~/Game/Compare" class="btn btn-group btn-primary">Vergelijk</a>
                <a href="~/Detail/Game" class="btn btn-primary">Meer details</a>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-3">
                <img src="~/Content/Images/Monopoly.png" class="img-responsive" style="width: 150px;" />
            </div>
            <div class="col-md-9">
                <h2>Merk, Naam</h2>
                <h4>Details: Leeftijd | Aantal spelers | Taal | Uitgever</h4>
                <p>Beschrijving</p>
                <a href="~/Game/Compare" class="btn btn-group btn-primary">Vergelijk</a>
                <a href="~/Detail/Game" class="btn btn-primary">Meer details</a>
            </div>
        </div>
    </div>
</div>
