@{
    ViewBag.Title = "Spel gegevens";
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col">
        <section id="detailForm">
            <div class="col-md-12">
                <h3>Uno</h3>
                <h4>Mattel</h4>
            </div>
            <div class="col-md-4">
                <div>
                    <img class="spel-image" style="height: 300px; width: 370px;" src="..." />
                </div>
            </div>
            <div class="col-md-8">
                <h4>Beschrijving</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error sunt tempora,
                    quasi nostrum eveniet ipsa eum esse inventore porro soluta ad reiciendis
                    incidunt eos repellat quae itaque qui voluptate fuga! Lorem ipsum dolor, sit
                    amet consectetur adipisicing elit. Omnis, cupiditate maxime aut vitae fuga
                    excepturi doloremque nisi a suscipit vero, dolor, soluta esse ab iusto!
                    Possimus voluptatibus temporibus porro quo. Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Incidunt ullam corporis sunt saepe totam
                    dignissimos. Tempore animi blanditiis ullam eveniet, ratione necessitatibus
                    et quia accusantium totam quis nostrum laborum nobis! Lorem ipsum dolor sit
                    amet consectetur, adipisicing elit. Ipsam aut repudiandae sapiente mollitia
                    tempora alias, ducimus dicta provident, dolorem exercitationem aperiam quam
                    molestias fuga. Labore dolor sit itaque maiores consequuntur. Lorem ipsum
                    dolor sit amet consectetur adipisicing elit. Delectus, aspernatur possimus,
                    perferendis repellendus nihil ex cupiditate assumenda omnis at optio
                    adipisci libero blanditiis dolores a nemo! Laudantium ullam dolor quod.
                </p>
            </div>
            <div class="col-md-12" style="margin-left: 20px;">
                <br />
                <div class="row">
                    <label>Spelsoort:</label>
                </div>
                <div class="row">
                    <label>Aantal spelers:</label>
                </div>
                <div class="row">
                    <label>Leeftijd:</label>
                </div>
                <div class="row">
                    <label>Speeltijd:</label>
                </div>
                <div class="row">
                    <label>Categorieën:</label>
                </div>
                <br />
                <div class="row">
                    <label>Taal spel:</label>
                </div>
                <div class="row">
                    <label>Taal handleiding:</label>
                </div>
                <br />
                <div class="row">
                    <label>Afmeting:</label>
                </div>
                <div class="row">
                    <label>Uitgave jaar:</label>
                </div>
            </div>

        </section>
    </div>
</div>


<div class="grid-details">
</div>
